<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Item Details
                    <small>Please fill the following details</small>
                </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br/>
                <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="item-name">Item Name</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="item-name"
                                   class="form-control col-md-7 col-xs-12" ng-model="item.name">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Category</label>
                        <div class="col-md-3 col-sm-4 col-xs-6">
                            <select class="form-control" ng-options="x for x in mainCategories.values"
                                    ng-model="mainCategories.value" ng-change="valueChanged(mainCategories.value)">
                            </select>
                        </div>
                    </div>
                    <div class="form-group" ng-show="categoriesViews.Books">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Book Category</label>
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <select class="form-control" ng-options="x for x in subCategories.values.Books"
                                    ng-model="subCategories.value">
                            </select>
                        </div>
                    </div>
                    <div class="form-group" ng-show="categoriesViews.Tools">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Tool Category</label>
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <select class="form-control" ng-options="x for x in subCategories.values.Tools"
                                    ng-model="subCategories.value">
                            </select>
                        </div>
                    </div>
                    <div class="form-group" ng-show="categoriesViews.Games">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Game Category</label>
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <select class="form-control" ng-options="x for x in subCategories.values.Games"
                                    ng-model="subCategories.value">
                            </select>
                        </div>
                    </div>
                    <div class="form-group" ng-show="categoriesViews.Electronics">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Electronics Category</label>
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <select class="form-control" ng-options="x for x in subCategories.values.Electronics"
                                    ng-model="subCategories.value">
                            </select>
                        </div>
                    </div>

                    <div class="form-group">

                        <label for="item-description" class="control-label col-md-3 col-sm-3 col-xs-12">Description:<br>
                            (20
                            chars min, 100 max) </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                        <textarea style="resize: vertical" id="item-description"
                                  class="form-control "
                                  name="item-description" data-parsley-trigger="keyup" data-parsley-minlength="20"
                                  data-parsley-maxlength="100"
                                  data-parsley-minlength-message="Come on! You need to enter at least a 20 caracters long comment.."
                                  data-parsley-validation-threshold="10" ng-model="item.desc"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="reportrange_right" class="control-label col-md-3 col-sm-3 col-xs-12">Select
                            range</label>
                        <div class="col-md-3 col-sm-4 col-xs-12">
                            <div id="reportrange_right" class="pull-left"
                                 style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width:100%">
                                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                <span style="width: 85%; display: inline-block; text-align: center">February 2, 2017 - February 19, 2017</span> <b class="caret"></b>
                            </div>
                        </div>
                    </div>

                    <div id="booksDiv" ng-show="categoriesViews.Books">
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="book-author"></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="book-author"
                                       class="form-control col-md-7 col-xs-12" ng-model="book.author">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="book-ISBN">ISBN</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="book-ISBN"
                                       class="form-control col-md-7 col-xs-12" ng-model="book.isbn">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="book-dob">Date Published</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="book-dob"
                                       class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>

                    </div>
                    <div id="electronicsDiv" ng-show="categoriesViews.Electronics">
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="elec-batt">Battery
                            </label>
                            <div class="col-md-3 col-sm-3 col-xs-6">
                                <select id="elec-batt" class="form-control"
                                        ng-options="x for x in batteryOptions.values"
                                        ng-model="batteryOptions.value">
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="elec-brand">Brand
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="elec-brand"
                                       class="form-control col-md-7 col-xs-12" ng-model="elec.brand">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="elec-ou">Outside Use</label>
                            <div class="col-md-3 col-sm-3 col-xs-6">
                                <select id="elec-ou" class="form-control"
                                        ng-options="x for x in ouOptions.values"
                                        ng-model="ouOptions.value">
                                </select>
                            </div>
                        </div>

                    </div>

                    <div id="gamesDiv" ng-show="categoriesViews.Games">
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="gs">Game Studio</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="gs" class="form-control col-md-7 col-xs-12" ng-model="games.studio">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="gp">Platform</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="gp" class="form-control col-md-7 col-xs-12" ng-model="games.platform">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="games-year">Date Released</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="games-year" class="form-control col-md-7 col-xs-12" ng-model="games.year">
                            </div>
                        </div>

                    </div>

                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Type the item location</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="input-group">
                            <input type="text" id="locationInputText" class="form-control">
                            <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"
                                            ng-click="checkLoc();">Check Location!</button>
                                </span>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-5 col-sm-4 col-xs-12"></div>
                        <div class="col-md-2" ng-click="getCurLoc();">
                            <a href="javascript:void(0);" class="btn btn-primary btn-block" role="button"> Or Use Current Location</a>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-1 col-sm-1"></div>
                        <div class="col-md-10 col-sm-10 col-xs-12">
                            <div map-lazy-load="https://maps.google.com/maps/api/js?key=AIzaSyCIdwRu4ngSUOFiSPAgCvN09Gp7PUtUy9c">
                                <ng-map id="addItemMap" style="height: 400px; width:700px"
                                        center="current-position" zoom="10"
                                        default-style="false"
                                        zoom-to-include-markers="true"
                                        geo-fallback-center="[60, 20]"
                                        geo-callback="vm.callbackFunc('you')"
                                >
                                    <!-- <marker position={{marker.pos}}></marker> -->
                                </ng-map>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Upload Image</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="file" class="filestyle" file="file">
                        </div>

                    </div>

                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-5">
                            <!--<button class="btn btn-primary" type="button">Cancel</button>-->
                            <button class="btn btn-primary" type="reset">Reset</button>
                            <button type="submit" class="btn btn-success" ng-click="submit()">Submit</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
