<div>
    <table style="width:100%">
        <tr>
            <th style="height:30px">Name</th>
            <th style="height:30px">Category</th>
            <th style="height:30px">Description</th>
            <th style="height:30px">Expiration Date</th>
        </tr>
        <tr ng-repeat="item in items" style="border-bottom: 1px solid black">
            <td style="height:30px">{{item.item_name}}</td>
            <td style="height:30px">{{item.category}}</td>
            <td style="height:30px">{{item.description}}</td>
            <td style="height:30px">{{item.expiration_date}}</td>
        </tr>
    </table>
</div>