<!--<div>
    <ul>
        <li  ng-repeat="item in items">
            <a><span>ID: {{item.id}}</span><span>{{item.item_name}}</span></a>
        </li>
    </ul>
</div>-->

<div>
    <table style="width:100%">
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Description</th>
            <th>Expiration Date</th>
        </tr>
        <tr ng-repeat="item in items">
            <td>{{item.item_name}}</td>
            <td>{{item.category}}</td>
            <td>{{item.description}}</td>
            <td>{{item.expiration_date}}</td>
        </tr>
    </table>
</div>