<!-- <div class="title_right" id="search_bar" ng-controller="controller_map">
    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
        <div class="input-group">
            <input ng-model="userSearch" id="userSearch" type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
  <button class="btn btn-default" type="button" ng-click="markerFilter();">Search</button> -->

  <!-- <form action="">
    <label><input type="checkbox" name="Books" value="Books" ng-model="booksCheck"  ng-click="markerFilter('Books', booksCheck);"/>Books</label>
    <label><input type="checkbox" name="Electronics" value="Electronics" ng-model="electronicsCheck" ng-click="markerFilter('Electronics', electronicsCheck);"/>Electronics</label>
    <label><input type="checkbox" name="Tools" value="Tools" ng-model="toolsCheck" ng-click="markerFilter('Tools', toolsCheck);"/>Tools</label>
    <label><input type="checkbox" name="Games" value="Games" ng-model="gamesCheck" ng-click="markerFilter('Games', gamesCheck);"/>Games</label>
    <label><input type="checkbox" name="Others" value="Others" ng-model="othersCheck" ng-click="markerFilter('Others', othersCheck);"/>Others</label>
  </form> -->

  <form action="">
    <label><input type="radio" value="All" name="categoryFilter" ng-click="markerFilter('All')" checked="checked">All</label>
    <label><input type="radio" value="Books" name="categoryFilter" ng-model="booksCheck" ng-click="markerFilter('Books', booksCheck);"/>Books</label>
    <label><input type="radio" value="Electronics" name="categoryFilter" ng-model="electronicsCheck" ng-click="markerFilter('Electronics', electronicsCheck);"/>Electronics</label>
    <label><input type="radio" value="Tools"  name="categoryFilter" ng-model="toolsCheck"  ng-click="markerFilter('Tools', toolsCheck);"/>Tools</label>
    <label><input type="radio" value="Games"  name="categoryFilter" ng-model="gamesCheck" ng-click="markerFilter('Games', gamesCheck);"/>Games</label>
    <label><input type="radio" value="Others"  name="categoryFilter" ng-model="othersCheck" ng-click="markerFilter('Others', othersCheck);"/>Others</label>
  </form>

  <!-- <form action="">
    <label><input type="radio" name="Books" ng-value="Books" ng-model="markerFilter.name"  ng-click="markerFilter('Books', booksCheck);"/>Books</label>
    <label><input type="radio" name="Electronics" ng-value="Electronics" ng-model="markerFilter.name" ng-click="markerFilter('Electronics', electronicsCheck);"/>Electronics</label>
    <label><input type="radio" name="Tools" ng-value="Tools" ng-model="markerFilter.name" ng-click="markerFilter('Tools', toolsCheck);"/>Tools</label>
    <label><input type="radio" name="Games" ng-value="Games" ng-model="markerFilter.name" ng-click="markerFilter('Games', gamesCheck);"/>Games</label>
    <label><input type="radio" name="Others" ng-value="Others" ng-model="markerFilter.name" ng-click="markerFilter('Others', othersCheck);"/>Others</label>
  </form> -->

</span>
        </div>
    </div>
</div>
<div  map-lazy-load="https://maps.google.com/maps/api/js?key=AIzaSyCIdwRu4ngSUOFiSPAgCvN09Gp7PUtUy9c">
    <ng-map id="mapViewMap" style="height: 530px"
            center="current-position" zoom="15"
            default-style="false"
            geo-fallback-center="[59, 19]"
    >
    </ng-map>

</div>
